input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.modal {
  background-color: rgba(39, 48, 59, 0.5);
  display: inline;
}
